<body class="home">
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class ="holder-contact">
<p>
  Contact Alex Melcon, the creator of Tweeter, at his
  <a href="http://alexmelcon.herokuapp.com/">contact page</a>.
</p>
</div>
</body>
